body {
	margin: 0px;
	color: #000000;
	font-family: Verdana, "ו";
	font-size: 12px;
}

td {
	margin: 0px;
	color: #000000;
	font-family: Verdana, "ו";
	font-size: 12px;
}
a{
	text-decoration: none;
	color: #0066CC;
}
a:hover{
	text-decoration: none;
	color: #0066CC;
}
.inputborder {
	border: 1px solid #707070;
	font-family: Verdana, "ו";
	font-size: 12px;
}

a{
	text-decoration: none;
	color: #0066CC;
}
.row01 {
	background-color: #C5E6FF;
	padding: 4px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #4BA9F0;
	font-weight: bold;
}
.row02 {
	background-color: #D8EEFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4BA9F0;
	padding:6px;
}
.row02over {
	background-color: #FFF7EC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCE8C;	
	padding:6px;
	color: #FF6B09;
	font-weight: bold;
}
.row02_over {
	background-color: #FFF7EC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFCE8C;
	padding:6px;
	color: #FF6B09;
	font-weight: bold;
}
.row03 {
	background-color: #FFFBF4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFDEB0;
	padding:6px;
	color: #FF6B09;
}
.arrow01 {
	background-color: #328ED3;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #45779D;
}

.row04 {
	background-color: #FFFBF4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4BA9F0;
	padding:6px;
	color: #FF6B09;
}
.row_ps {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BADFFA;
}
.admin_text {
	color: #FF3300;
	font-weight: bold;
	}
.text_white{ color:#FFFFFF}